# Xcode
build/
DerivedData/
*.xcuserdata
*.xcworkspace
xcuserdata/
*.xccheckout
*.moved-aside
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# macOS
.DS_Store
.AppleDouble
.LSOverride
._*

# Claude
.claude/

# Lyric data (user content)
*.json
!/LyricGenerator/Assets.xcassets/**/*.json

# Swift Package Manager
.build/
Packages/
Package.resolved

# CocoaPods
Pods/
